<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>pod管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/easyui/themes/default/easyui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/icon.css}" />
    <link th:href="@{/static/easyui/themes/icon.css}" rel="stylesheet" />
    <script th:src="@{/static/easyui/jquery.min.js}"></script>
    <script th:src="@{/static/easyui/jquery.easyui.min.js}"></script>
    <script th:src="@{/static/easyui/easyui-lang-zh_CN.js}"></script>
</head>

<body>
<div id="dlg" class="easyui-dialog" title="详情" data-options="iconCls:'icon-information', closed: true, modal: true" style="width:600px;height:400px;padding:13px">
	<div id="dlg-text"></div>
</div>
<div id="tb">
    <div class="tb-search">
        <span class="tb-text">名称:</span>
        <input class="easyui-textbox" style="width:160px;height:32px">

        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="search()">搜索</a>
    </div>
</div>
<div id="dg"></div>
<script type="text/javascript" th:inline="none">
    let search = () => {

    };
    let columnsDef = [
        { field: "name", title: "名称", width: "200", align: "left" },
        { field: "namespace", title: "namespace", width: "130", align: "left" },
        { field: "nodeName", title: "节点", width: "130", align: "left" },
        { field: "hostIp", title: "主机ip", width: "130", align: "left" },
        { field: "podIp", title: "pod ip", width: "130", align: "left" },
        { field: "phase", title: "运行状态", width: "100", align: "left" },
        { field: "containersStatus", title: "容器状态", width: "100", align: "left" },
        { field: "pod", title: "pod", width: "100", align: "left", formatter: (val, row, index) => {
            return "<a class='dg-cell-a' href='#'>详情</a>";
        } },
        { field: "conditions", title: "conditions", width: "100", align: "left", formatter: (val, row, index) => {
            return "<a class='dg-cell-a' href='#'>详情</a>";
        } },
        { field: "containers", title: "containers", width: "100", align: "left", formatter: (val, row, index) => {
            return "<a class='dg-cell-a' href='#'>详情</a>";
        } },
        { field: "creationTimestamp", title: "创建时间", width: "160", align: "left" }
    ];
    let loadData = data => {
        $("#dg").datagrid({
            title: "列表",
            width: "100%",
            height: "100%",
            columns: [ columnsDef ],
            data: data,
            striped: true,     //交替行换色
            rownumbers: true,  //行号
            pagination: true,  //显示底部分页
            fitColumns: true,//自动适应。先给列随便加个宽度
            toolbar: "#tb",
            checkOnSelect: false, //true，当用户点击行的时候该复选框就会被选中或取消选中。
            selectOnCheck: true, //true，单击复选框将永远选择行。
            onClickRow: function (index, row) {
                var d_id = row["d_id"];
            },
            onClickCell: function (index, field, value) {
                IsCheckFlag = false;
                let rows = $('#dg').datagrid('getRows');
                let row = rows[index];
                if("conditions" === field){
                    openDlg(row);
                } else if("pod" === field){
                    openPodInfoDlg(row);
                } else if("containers" === field){
                    openContainerDlg(row);
                }
            },
            onSelect: function (rowIndex, rowData) {
                if (!IsCheckFlag) {
                    IsCheckFlag = true;
                    $("#dg").datagrid("unselectRow", rowIndex);
                }
            },
            onUnselect: function (rowIndex, rowData) {
                if (!IsCheckFlag) {
                    IsCheckFlag = true;
                    $("#dg").datagrid("selectRow", rowIndex);
                }
            }
        });
    }
    let openDlg = (row) => {
        let list = row.conditions;
        let cd = "";
        if(list) {
            for(let i = 0; i<list.length; i++){
                cd += "<span class='dg-cell'>type: " + list[i].type + "</span></br>";
                cd += "<span class='dg-cell'>status: " + list[i].status + "</span></br>";
                cd += "<span class='dg-cell'>message: " + list[i].message + "</span></br>";
                cd += "<span class='dg-cell'>reason: " + list[i].reason + "</span></br>";
                cd += "<p class='dg-cell-line'></p>"
            }
        }
        $("#dlg-text").html(cd);
        $("#dlg").dialog("open");
    };
    let openPodInfoDlg = (row) => {
        let list = row.podStatusList;
            let pod = "";
            if(list) {
                for(let i = 0; i<list.length; i++){
                    pod += "<span class='dg-cell'>name: " + list[i].name + "</span></br>";
                    pod += "<span class='dg-cell'>image: " + list[i].image + "</span></br>";
                    pod += "<span class='dg-cell'>ready: " + list[i].ready + "</span></br>";
                    pod += "<span class='dg-cell'>restartCount: " + list[i].restartCount + "</span></br>";
                    pod += "<span class='dg-cell'>started: " + list[i].started + "</span></br>";
                    pod += "<span class='dg-cell'>message: " + list[i].message + "</span></br>";
                    pod += "<span class='dg-cell'>reason: " + list[i].reason + "</span></br>";
                    pod += "<p class='dg-cell-line'></p>"
                }
            }
        $("#dlg-text").html(pod);
        $("#dlg").dialog("open");
    };
    let openContainerDlg = (row) => {
        let list = row.containers;
        let cd = "";
        if(list) {
            for(let i = 0; i<list.length; i++){
                cd += "<span class='dg-cell'>name: " + list[i].name + "</span></br>";
                cd += "<span class='dg-cell'>image: " + list[i].image + "</span></br>";
                cd += "<span class='dg-cell'>request cpu: " + list[i].resCpu + "</span></br>";
                cd += "<span class='dg-cell'>limit cpu: " + list[i].limitCpu + "</span></br>";
                cd += "<span class='dg-cell'>request memory: " + list[i].resMemory + "</span></br>";
                cd += "<span class='dg-cell'>limit memory: " + list[i].limitMemory + "</span></br>";
                let ports = !list[i].ports ? [] : list[i].ports;
                for(let j = 0; j<ports.length; j++){
                    cd += "<span class='dg-cell'>port: " + ports[j].containerPort + "</span></br>";
                }
                cd += "<p class='dg-cell-line'></p>"
            }
        }
        $("#dlg-text").html(cd);
        $("#dlg").dialog("open");
    };
    $(() => {
        $.get("/k8s/pod", response => {
            loadData(response.data);
        });
    })
</script>
</body>

</html>