

body { font:12px/1.2em Microsoft YaHei;}
html,
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
	min-width:1100px;
	overflow:hidden;
        }
a,
a:link { color:#000; text-decoration:none; outline:none;}
a:hover,
a:focus { text-decoration:none; color:#39f;}

.pd3 { padding:3px;}
.pd5 { padding:5px;}
.pd10 { padding:10px;}

label,
button,
input,
select,
textarea { font-size:12px; vertical-align: middle;}

input,
button,
select,
textarea { font:12px/1.2em Microsoft YaHei;}

select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] { cursor: pointer;}

.tabs-tool { border-top:0;}
.wu-text,
.wu-textarea { padding:3px; border:1px #95b8e7 solid; width:260px;}
.wu-text { height:14px; line-height:14px; }

.wu-header { height:88px; position:relative; z-index:0; overflow:hidden; border-bottom:1px #95b8e7 solid; background:url(../images/bg_header.jpg) bottom repeat-x;}
.wu-header-left { position:absolute; z-index:1; left:15px; top:0;}
.wu-header-left h1 { font:20px/20px Verdana; color:#fff;}
.wu-header-right { position:absolute; z-index:1; right:5px; top:0; color:#fff; text-align:right;}
.wu-header-right p { line-height:0.7em;}
.wu-header-right a { color:#fff; margin:0 5px;}

.wu-sidebar { width:160px;}
.wu-side-tree .tree-node { padding:3px 0px; }
.wu-side-tree a { display:block;}
.wu-side-tree .tree-node-selected { padding:2px 0; border:1px #fade23 solid;}

.wu-toolbar-button,
.wu-toolbar-search { padding:3px 5px;}

.wu-footer { height:20px; padding:5px; text-align:center; overflow:hidden; background:#e0ecff;}

.panel-header .panel-title{text-indent: 6px;}

.panel-body {
    overflow: hidden !important;
}
.tb-search{margin: 5px 0;}
.tb-search input{height: 32px; line-height: 32px;}
.tb-search .tb-text{line-height: 32px;}
.accordion-body{padding:5px 0 !important;}
.dg-cell{margin:0 13px 0 0; line-height: 18px !important;}
.dg-cell-line{border-bottom: 1px #ccc solid;}
.dg-cell-a{text-decoration:underline !important; color:blue !important;}
.dg-cell-a:hover{color:red !important;}
#dlg{background:#eee;}
#dlg-text{OVERFLOW: auto; height:331px; border: 1px solid #ccc;background:#fff; padding: 13px;}